/** Fuentes **/
@font-face {
  font-family: "lemon_milkbold";
  src: url("lemonmilk-bold-webfont.woff2") format("woff2"), url("lemonmilk-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/**Colores**/
/** Fuente Sistema **/
/***/
* {
  padding: 0px;
  margin: 0px;
}

* {
  box-sizing: border-box;
}

html {
  font-size: calc(1em + 1vw);
  font-family: "Jost", sans-serif;
  font-weight: 400;
  background-color: black;
}

/** Utiltes **/
.container {
  width: 95%;
  margin: 0 auto;
}

.hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-family: "Jost", sans-serif;
  font-weight: 300;
  font-size: 1.8em;
  color: white;
  text-align: center;
  padding-top: 1em;
}

h2 {
  font-size: 1.3em;
  font-weight: 200;
}

span {
  font-weight: 700;
}

.btn {
  padding: 15px 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  font-family: "Jost", sans-serif;
  font-weight: 300;
  text-align: center;
}

/** WEB DEVELOP **/
/** MOBILE FIRST **/
video {
  width: 100%;
  min-width: 100%;
  height: 100vh;
  min-height: 60vh;
  object-fit: cover;
  margin: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  video {
    width: auto;
    height: 100%;
  }
}
header {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header p {
  font-size: 1.4em;
  font-family: "Jost", sans-serif;
  width: 30%;
  color: white;
  margin-left: 1em;
  margin-bottom: 1em;
  font-weight: 500;
  text-align: left;
}
header p span {
  font-weight: 300;
  font-family: "Jost", sans-serif;
}

.top-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: fixed;
  margin-left: 10px;
}

@media (min-width: 580px) {
  video {
    width: 50px;
  }
}
.logo {
  font-family: "lemon_milkbold";
  font-size: 1.4em;
  text-decoration: none;
  color: white;
  margin-top: 50px;
}

.navbar {
  width: 75%;
  height: 100%;
  position: fixed;
  top: 0;
  right: -1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  transition: all 0.6s;
}
.navbar .hamburguer-menu {
  width: 50px;
  height: 40px;
  margin-top: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  right: 25px;
  top: 5px;
  position: fixed;
}
.navbar .nav-group {
  display: flex;
  flex-direction: column;
}
.navbar .nav-group a {
  text-decoration: none;
  color: white;
  font-size: 34px;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
  margin: 15px;
  padding: 3px 0;
}
.navbar .nav-group a::before, .navbar .nav-group a::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #E3E472;
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.5s;
}
.navbar .nav-group a::after {
  bottom: 0;
  transform-origin: right;
}
.navbar .nav-group a::before {
  top: 0;
  transform-origin: left;
}
.navbar .nav-group a:hover::before, .navbar .nav-group a:hover::after {
  transform: scaleX(1);
}

.change {
  right: 0;
}

.change .line-1 {
  transform: rotateZ(-45deg) translate(-8px, 8px);
}

.change .line-3 {
  transform: rotateZ(45deg) translate(-9px, -12px);
}

.change .line-2 {
  opacity: 0;
}

.line {
  width: 100%;
  height: 3px;
  background-color: white;
  transition: all 0.8s;
}

@media (min-width: 720px) {
  .navbar {
    width: 60%;
  }
}
@media (min-width: 1100px) {
  .navbar {
    width: 45%;
  }
}
.iconify {
  width: 45px;
  height: 45px;
}

/** Servicios **/
.service {
  background-color: white;
}
.service h1 {
  color: #656565;
}

.services {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 10px;
}
.services .card {
  display: flex;
  flex-direction: column;
  border: solid 0.1rem white;
  width: 100%;
  margin-bottom: 10px;
}
.services .card .text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  width: 94%;
  margin: 0;
  height: 41em;
  align-items: center;
}
.services .card .text-content h1 {
  color: white;
  font-weight: 600;
  position: relative;
}
.services .card .text-content h1::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: white;
  position: absolute;
  left: 0;
  bottom: 0;
}
.services .card .text-content p {
  margin-top: 1em;
  text-align: center;
  font-size: 1.2rem;
  margin: 10px 35px;
  color: white;
  margin-bottom: 1em;
}
.services .card .content-image .picture {
  width: 100%;
  object-fit: cover;
  height: 41em;
}
.services .card .content-image .btn-images {
  display: none;
}

.btn-contact {
  align-self: center;
  padding: 10px 10px;
  margin-bottom: 10px;
  border: solid 1px white;
  color: white;
}

@media (min-width: 1020px) {
  .services {
    width: 100%;
    display: flex;
  }
  .services .card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .services .card .text-content {
    position: unset;
    width: 48%;
    height: 20em;
    background-color: transparent;
  }
  .services .card .text-content p, .services .card .text-content h1 {
    color: #656565;
  }
  .services .card .text-content h1::after {
    background-color: #656565;
  }
  .services .card .content-image {
    position: relative;
    width: 48%;
  }
  .services .card .content-image .picture {
    transform: scale(0.9);
    width: 100%;
    height: 20em;
    transition: all 0.5s;
  }
  .services .card .content-image .btn-images {
    display: block;
    box-shadow: none;
    color: transparent;
    position: absolute;
    bottom: 30%;
    left: 35%;
    transition: all 0.5s;
  }
  .services .card .content-image:hover .picture {
    transform: scale(1);
    filter: grayscale(1);
  }
  .services .card .content-image:hover .btn-images {
    color: white;
    border: 1px solid white;
    background-color: transparent;
  }
  .services .card .content-image:hover .btn-images:hover {
    color: black;
    background-color: white;
  }
  .services .card-2 {
    background-color: #656565;
    margin: 0;
  }
  .services .card-2 .text-content {
    order: 1;
  }
  .services .card-2 .text-content p, .services .card-2 .text-content h1 {
    color: white;
  }
  .services .card-2 .text-content h1::after {
    background-color: whitesmoke;
  }
  .services .card-2 .content-image {
    order: 0;
  }

  .btn-contact {
    display: none;
    align-self: center;
    padding: 10px 10px;
    margin-bottom: 10px;
    border: solid 1px white;
    color: white;
  }
}
.about-us {
  width: 100%;
  height: 150vh;
  background-image: url(../images/alejandro-pikdo-VhvUJ6X2f_M-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.about-us .about {
  width: 100%;
  height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 45px;
  background-color: rgba(0, 0, 0, 0.75);
}
.about-us .about h1 {
  position: relative;
}
.about-us .about h1::after {
  content: "";
  width: 75%;
  height: 1px;
  background-color: white;
  position: absolute;
  left: 12%;
  bottom: 0;
}
.about-us .about p {
  margin-top: 1.5em;
  width: 75%;
  font-size: 1.2em;
  align-self: center;
  color: white;
  font-weight: 300;
  text-align: left;
  border-left: solid 1px white;
  padding-left: 1em;
}
.about-us .about p:last-child {
  padding-right: 1em;
  text-align: right;
  border-right: solid 1px white;
  border-left: none;
}

.players {
  background-image: url(../images/prayer-x-AAxYvBisZ_E-unsplash.jpg);
  background-size: cover;
  background-position: center;
}
.players .main-carousel {
  height: 35em;
}
.players .main-carousel .carousel-cell {
  width: 100%;
}
.players .main-carousel .carousel-cell img {
  object-fit: cover;
  width: 23em;
  height: 30em;
  position: relative;
  left: 0;
  top: 1em;
}
.players .main-carousel .carousel-cell a {
  position: absolute;
  left: 38%;
  bottom: 10%;
  color: black;
  box-shadow: none;
  border: solid 1px white;
  background-color: white;
}
.players .main-carousel .carousel-cell h2 {
  position: absolute;
  color: white;
  display: block;
  bottom: 3%;
  width: 100%;
  text-align: center;
}

.flickity-page-dots {
  bottom: 2%;
}

@media (min-width: 900px) {
  .players .main-carousel {
    height: 20em;
  }
  .players .main-carousel .carousel-cell {
    width: 33%;
  }
  .players .main-carousel .carousel-cell img {
    width: 100%;
    height: 18em;
    transition: all 0.5s;
  }
  .players .main-carousel .carousel-cell a {
    font-size: 0.8em;
    padding: 0.2em;
    background-color: transparent;
    color: white;
    transition: all 0.5s;
    display: none;
  }
  .players .main-carousel .carousel-cell a:hover {
    background-color: white;
    color: #656565;
  }
  .players .main-carousel .carousel-cell h2 {
    font-size: 1em;
    bottom: 2%;
  }
  .players .main-carousel .carousel-cell:hover img {
    transform: scale(1.1);
    filter: grayscale(1);
  }
  .players .main-carousel .carousel-cell:hover a {
    display: block;
  }
}
.contact {
  background-image: url(../images/black-paper-texture-7.jpg);
  background-position: right;
  background-size: cover;
  height: 100%;
}
.contact .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact .container .contactus {
  margin-top: 3em;
  margin-bottom: 3em;
  background-color: black;
  height: 100%;
  padding: 1em 1em;
  border-radius: 5%;
  border: 1px solid #7E7E7E;
  box-shadow: 0px 2px 2px 3px rgba(0, 0, 0, 0.25);
}
.contact .container .contactus h1 {
  font-weight: 700;
}
.contact .container .contactus h2 {
  font-size: 1em;
  text-align: center;
  color: white;
  margin-bottom: 1em;
}
.contact .container .contactus .inputs {
  display: flex;
  justify-content: space-around;
}
.contact .container .contactus input {
  background-color: black;
  color: white;
  border: 1px solid #7E7E7E;
  padding: 0.5em;
  transition: 0.5s;
  width: 100%;
  text-align: center;
  margin: 0.5em;
}
.contact .container .contactus .btn-enviar {
  display: inline-block;
  width: 100%;
  padding: 0.1em;
  cursor: pointer;
  font-size: 0.8em;
  margin: 0.5em 0;
  background-color: white;
  color: black;
}

.btn-enviar {
  box-shadow: none;
  transition: 0.5s;
}

.btn-enviar:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

::placeholder {
  color: white;
  opacity: 1;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

@media (min-width: 720px) {
  .contact .container .contactus input {
    margin: 0;
    margin-right: 0.2em;
  }
  .contact .container .contactus .btn-enviar {
    width: 25%;
  }
}
.footer {
  background-image: url(../images/wall-pi.png);
  background-size: cover;
  background-position: left;
  height: 100%;
}
.footer .container .foot-elements {
  display: flex;
  justify-content: space-between;
}
.footer .container .foot-elements figure img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.footer .container .foot-elements .text-elements {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-right: 120px;
}
.footer .container .foot-elements .text-elements h2 {
  text-align: center;
  color: white;
  margin-bottom: 1em;
}
.footer .container .foot-elements .text-elements .icons {
  align-self: center;
  color: white;
}
.footer .container .foot-elements .text-elements .iconify {
  color: white;
}
.footer .container .foot-elements .text-elements .iconify path {
  transition: 0.5s;
}
.footer .container .foot-elements .text-elements .iconify:hover path {
  color: black;
}
.footer .container .foot-elements .text-elements p {
  margin-top: 1em;
  color: white;
  text-align: center;
}

@media (max-width: 580px) {
  .footer {
    background-image: none;
    background-color: #656565;
    background-size: contain;
    background-position: left;
  }
  .footer .container .foot-elements {
    display: flex;
    flex-direction: column;
  }
  .footer .container .foot-elements .text-elements {
    margin-right: 0;
    margin-top: 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
