/** Fuentes **/

@font-face {
    font-family: 'lemon_milkbold';
    src: url('lemonmilk-bold-webfont.woff2') format('woff2'),
         url('lemonmilk-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



/**Colores**/
$colorPrincipal: #7E7E7E; 
$colorSecundario: #656565;
$colorReslatado: #E3E472;
$colorNoselected: #E2E2E2;
/** Fuente Sistema **/
$fuenteJost: 'Jost', sans-serif;
$fuenteLemonBOld: 'lemon_milkbold';

/***/
*{
    padding: 0px;
    margin: 0px;
}

*{box-sizing:border-box}

html {
    font-size: calc(1em + 1vw);
    font-family: $fuenteJost;
    font-weight: 400;
    background-color: black;
}

/** Utiltes **/

.container {
    width: 95%;
    margin: 0 auto;
}

.hero {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

h1 {
    font-family: $fuenteJost;
    font-weight: 300;
    font-size: 1.8em;
    color: white;
    text-align: center;
    padding-top: 1em;
}

h2 {
    font-size: 1.3em;
    font-weight: 200;
}

span {
    font-weight: 700;
}

.btn {
    padding: 15px 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    font-family: $fuenteJost;
    font-weight: 300;
    text-align: center;

}

/** WEB DEVELOP **//** MOBILE FIRST **/

video {
    width: 100%;
    min-width: 100%;
    height: 100vh;
    min-height: 60vh;
    object-fit: cover;
    margin: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    video {
        width: 100%;
        height: auto;
    }
} 

@media (max-aspect-ratio: 16/9) {
    video {
        width: auto;
        height: 100%;
    }
} 




header {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url(../images/FONDO.jpg);
    background-size: cover;
    top: 0px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p {
        font-size: 1.4em;
        font-family: $fuenteJost;
        width: 30%;
        color: white;
        margin-left: 1em;
        margin-bottom: 1em;
        font-weight: 500;
        text-align: left;
        span {
            font-weight: 300;
            font-family: $fuenteJost;
        }
    }
}

.top-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: fixed;
    margin-left: 10px;
}

@media (min-width: 580px) {
    video {
        width: 50px;
    }
}

.logo {
    font-family: $fuenteLemonBOld;
    font-size: 1.4em;
    text-decoration: none;
    color: white;
    margin-top: 50px;
}

.navbar-container {
    background-color: black;
    width: 100%;
    height: 15vh;
    position: fixed;
    margin: 0;
    left: 0;
}

.navbar {
    width: 75%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/IMG_6570.JPG);
    transition: all 0.6s;
    .hamburguer-menu {
        width: 50px;
        height: 40px;
        margin-top: 40px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        right: 25px;
        top: 5px;
        position: fixed;
    }

    

    .nav-group {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-top: 2em;
        figure {
            width: 40%;
            margin: auto;
            height: 50%;
            img {
                width: 100%;
                object-fit: cover;
                
            }
        }

        .icons {
            width: 60%;
            margin: 1em auto;
            display: flex;
            justify-content: space-around;
            .iconify {
              color: white;
              width: 1.5em;
              height: 1.5em;
              transition: 0.5s ease-in-out;
            }

            .iconify:hover {
                color: $colorReslatado;
            }
        }

        a {
            text-decoration: none;
            color: white;
            font-size: 34px;
            text-align: center;
            font-weight: 300;
            text-transform: uppercase;
            position: relative;
            margin: 15px;
            padding: 3px 0;
        }

        a::before, a::after {
            content: "";
            width: 100%;
            height: 2px;
            background-color: $colorReslatado;
            position: absolute;
            left: 0;
            transform: scaleX(0);
            transition: transform 0.5s;
        }

        a::after {
            bottom: 0;
            transform-origin: right;
        }

        a::before {
            top: 0;
            transform-origin: left;
        }

        a:hover::before, a:hover::after {
            transform: scaleX(1);
        }
    }
}

.change {
    right: 0;
}
.change .line-1 {
    transform: rotateZ(-45deg) translate(-8px, 8px);
}

.change .line-3 {
    transform: rotateZ(45deg) translate(-9px, -12px);
}
    
.change .line-2 {
        opacity: 0;
}

.line {
    width: 100%;
    height: 3px;
    background-color: white;
    transition: all 0.8s;
}

@media (min-width: 720px){
    .navbar {
        width: 60%;
    }
}

@media (min-width: 1100px){
    .navbar {
        width: 45%;
    }
}


.iconify { width: 45px; height: 45px; }

  /** Servicios **/

  .service {
      background-color: white;
      h1 {
          color: $colorSecundario;
      }
  }

  .services {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin-top: 10px;
      padding: 1.5em 0;

      .card {
          display: flex;
          flex-direction: column;
          border: solid 0.1rem white;
          width: 100%;
          margin-bottom: 10px;
          position: relative;
          height: 75vh;
        
          .text-content {
              display: flex;
              flex-direction: column;
              justify-content: center;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.80);
            width: 100%;
            margin: 0;
            height: 75vh;
            align-items: center;
            h1 {
                padding: 0;
                color: white;
                font-weight: 600;
                position: relative;
                font-size: 3ch;
            }

            .marketing-h1 {
                font-size: 2.5ch;
            }

            h1::after {
                content: "";
                width: 100%;
                height: 1px;
                background-color: white;
                position: absolute;
                left: 0;
                bottom: 0;
            }
            p {
                margin-top: 1em;
                text-align: center;
                font-size: 1.2rem;
                margin: 10px 35px;
                color: white;
                margin-bottom: 1em;
            }
            
          }
          .content-image {
              
            .picture {
                width: 100%;
                object-fit: cover;
                height: 75vh;
            }

            .btn-images {
                display: none;
            }

        }
      }
  }

  .btn-contact {
    align-self: center;
    padding: 10px 10px;
    margin-bottom: 10px;
    border: solid 1px white;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    color: white;
}

.btn-contact:hover {
    background-color: white;
    color: black;
}

@media (min-width: 800px) {
    .services {
        flex-direction: row;
        justify-content: space-between;
    }
}


.about-us {
    width: 100%;
    height: 100%;
    background-image: url(../images/fondo-about-min.JPG);
    background-size: cover;
    background-position: center;
    .about {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 45px;
        background-color: rgba(0, 0, 0, 0.75);
        background-size: cover;
        h1 {
            position: relative;
            padding: 0;
        }
    
        h1::after {
            content: "";
            width: 75%;
            height: 1px;
            background-color: white;
            position: absolute;
            left: 12%;
            bottom: 0;
        }
        p {
            margin-top: 1.5em;
            width: 75%;
            font-size: 1.2em;
            align-self: center;
            color: white;
            font-weight: 300;
            text-align: left;
            border-left: solid 1px white;
            padding-left: 1em;
        }

        p:last-child {
            padding-right: 1em;
            text-align: right;
            border-right: solid 1px white;
            border-left: none;
        }
    }
}

.team {
    background-color: white;
    height: 100%;

    .card {
        background-color: white;
        transition: 0.5s ease-in-out;
        width: 100%;
    }

    .card:hover {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }

    .content {
        width: 75%;
        margin: 1em auto;
    }
    h1 {
        color: black;
        font-weight: 700;
        position: relative;
        width: 60%;
        margin: 0 auto;
    }

    h1::after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: black;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .team-container {
        width: 65%;
        height: 100vh;
        margin: 0 auto;
        padding: 1em 0;
        display: flex;
        justify-content: space-around;
        flex-direction: column;

        img {
            width: 100%;
        }

        h2 {
            font-weight: 400;
            position: relative;
        }

        h2::after {
            content: "";
            width: 20%;
            height: 1px;
            background-color: black;
            position: absolute;
            left: 0;
            bottom: 0;
        }

        span {
            font-weight: 200;
            font-style: italic;
        }
    }
}
@media (min-width: 800px) {
    .team {
        .team-container{
            flex-direction: row;
        }
    }
}

.players {
    h1 {
        width: 40%;
        margin: 0 auto;
        position: relative;
        padding: 0;
        color: white;
    }

    h1::after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: white;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

.glider-contain {
    width: 95%;
    margin: 1em auto;


    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .glider-next, .glider-prev {
        top: 50%;
    }

    .glider-dots {
        margin: 1em 0;
    }
}

.contact {
    background-color: black;
    background-position: right;
    background-size: cover;
    height: 100%;
    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .ilustration {
            display: none;
            width: 50%;
            margin-top: 3em;
            img {
                width: 100%;
            }
        }
        .contactus {
            margin-top: 3em;
            margin-bottom: 3em;
            background-color: black;
            height: 100%;
            width: 90%;
            padding: 1em 1em;
            border-radius: 5%;
            border: 1px solid $colorPrincipal;
            box-shadow: 0px 2px 2px 3px rgba(255, 252, 252, 0.8);

            h1 {
                font-weight: 700;
            }
            h2 {
                font-size: 1em;
                text-align: center;
                color: white;
                margin-bottom: 1em;
            }

            .inputs {
                display: flex;
                justify-content: space-around;
            }

            input{
                background-color: black;
                color: white;
                border: 1px solid $colorPrincipal;
                padding: 0.5em;
                transition: 0.5s;
                width: 100%;
                text-align: center;
                margin: 0.5em;
            }

            
            .btn-enviar {
                display: inline-block;
                width: 100%;
                padding: 0.1em;
                cursor: pointer;
                font-size: 0.8em;
                margin: 0.5em 0;
                background-color: black;
                color: white;
            }

            .btn-enviar:hover {
                background-color: white;
                color: black;
            }
        }
   
    }

}

@media (min-width: 800px) {
    .contact {
        .container {
            .ilustration {
                display: unset;
            }
            .contactus {
                width: 50%;
            }
        }
    }
}


::placeholder {
    color: white;
    opacity: 0.7;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }

@media (min-width: 720px){
    .contact {
        .container {
            .contactus{
                input {
                    margin: 0;
                    margin-right: 0.2em;
                }
                .btn-enviar {
                    width: 25%;
                    margin: 1em auto;
                }
            }
        }
    }
}

.footer {
    background-color: white;
    background-size: cover;
    background-position: left;
    height: 100%;
    .container {
        width: 60%;
        margin: 0 auto;
        .foot-elements {
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            .text-elements {
                display: flex;
                flex-direction: column;
                margin-top: 1em;
                color: black;

                h2 {
                    text-align: center;
                    margin-bottom: 1em;
                    position: relative;
                }
                h2::after {
                    content: "";
                    width: 100%;
                    height: 1px;
                    background-color: black;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }

                .icons {
                    align-self: center;
                }

                .iconify {
                    width: 2.5em;
                    height: 2.5em;
                  transition: 0.5s ease-in;
                  box-shadow: 0 3px 6px rgb(255, 255, 255), 0 3px 6px rgb(255, 255, 255);
                  border-radius: 20%;
                }

                .iconify:hover {
                    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                    transform: scale(1.1);
                }

                p {
                    margin-top: 1em;
                    text-align: center;
                    text-transform: lowercase;
                    font-weight: 200;
                    font-style: italic;
                }
            }
        }
    }
}

